<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->

    <a class="navbar-brand me-2" href="/home"> Coin Track </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <!-- Left links -->

      <div *ngIf="autenticado; else outroBloco" class="d-flex align-items-center">
        <div mdbDropdown class="dropdown">
          <button
            class="btn btn-outline-dark"
            type="button"
            id="dropdownMenuButton"
            aria-expanded="false"
            mdbDropdownToggle
          >
            <i class="fas fa-user-circle fa-3x"></i>
          </button>
          <ul
            mdbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
          >
            <li><a class="dropdown-item" href="/perfil">Meu perfil</a></li>
            <li>
              <button class="dropdown-item" (click)="logout()">Sair</button>
            </li>
          </ul>
        </div>
      </div>

      <ng-template #outroBloco>
        <div class="d-flex align-items-center">
          <a href="/login">
            <button type="button" class="btn btn-outline-secondary px-3 me-2">
              Login
            </button></a
          >
          <a href="/cadastrar">
            <button type="button" class="btn btn-outline-primary me-3">
              Cadastre-se
            </button></a
          >
        </div>
      </ng-template>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
